<ion-header [translucent]="true">
  <ion-toolbar color = "warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot = "end">
      <ion-button [routerLink]="['/Menu']">
        <img src="assets\login\home.png" alt="" />
      </ion-button>
    </ion-buttons>

    <div class="Titulo_1">
      <h2>REGISTRARSE</h2>
    </div>
  </ion-toolbar>


  <form [formGroup]= "formularioRegistro" >
    <ion-item>
      <ion-input
        autofocus="true"
        type="text"
        placeholder="Nombre..."
        FormControlName="Nombre"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        autofocus="true"
        type="text"
        placeholder="Apelllido"
        FormControlName="Apelllido"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        autofocus="true"
        type="email"
        placeholder="Correo"
        FormControlName="Correo"
        [value]="formularioRegistro.controls['Correo'].value"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        autofocus="true"
        type="number"
        min = "8"
        max = "8"
        placeholder="Telefono"
        FormControlName="Telefono"

      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        autofocus="true"
        type="number"
        placeholder="CUI"
        FormControlName="CUI"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        autofocus="true"
        type="text"
        placeholder="Contraseña"
        type="password"
        FormControlName="Contraseña"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        autofocus="true"
        type="text"
        placeholder="ConfirmarContraseña"
        type="password"
        FormControlName="ConfirmarContraseña"
      >
      </ion-input>
    </ion-item>




    <ion-button color="medium" (click) = "guardar()" [disabled]="formularioRegistro.invalid"> Registrarse </ion-button>

  </form>
</ion-header>




