<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/Menu']">
        <img alt="" src="assets\login\home.png"/>
      </ion-button>
    </ion-buttons>

    <div class="Titulo_1">
      <h2>REGISTRARSE</h2>
    </div>
  </ion-toolbar>


  <form [formGroup]="formularioRegistro">
    <ion-item>
      <ion-input
        FormControlName="Nombre"
        autofocus="true"
        placeholder="Nombre..."
        type="text"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        FormControlName="Apelllido"
        autofocus="true"
        placeholder="Apelllido"
        type="text"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        FormControlName="Correo"
        [value]="formularioRegistro.controls['Correo'].value"
        autofocus="true"
        placeholder="Correo"
        type="email"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        FormControlName="Telefono"
        autofocus="true"
        max="8"
        min="8"
        placeholder="Telefono"
        type="number"

      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        FormControlName="CUI"
        autofocus="true"
        placeholder="CUI"
        type="number"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        FormControlName="Contraseña"
        autofocus="true"
        placeholder="Contraseña"
        type="password"
        type="text"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        FormControlName="ConfirmarContraseña"
        autofocus="true"
        placeholder="ConfirmarContraseña"
        type="password"
        type="text"
      >
      </ion-input>
    </ion-item>


    <ion-button (click)="guardar()" [disabled]="formularioRegistro.invalid" color="medium"> Registrarse</ion-button>

  </form>
</ion-header>




