<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Historial de Emergencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- Lista de elementos de historial -->
    <ion-item *ngFor="let emergencia of historialEmergencias">
      <ion-icon [name]="emergencia.icono"></ion-icon>
      <ion-label>
        <h2>{{ emergencia.titulo }}</h2>
        <p>{{ emergencia.fecha }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
