<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Panel de Administrador</ion-title>
  </ion-toolbar>
  <b></b>
</ion-header>

<ion-content class="ion-padding">
  <ion-button [routerLink]="['/registrar-bombero']" expand="full">Registrar Bombero</ion-button>
  <ion-button [routerLink]="['/ingresar-equipo']" expand="full">Ingresar Equipo</ion-button>
  <ion-button [routerLink]="['/historial']" expand="full">Historial Emergencias</ion-button>
  <ion-button [routerLink]="['/subestacion']" expand="full">Subestacion</ion-button>
  <ion-button [routerLink]="['/tipos-emergencias']" expand="full">Tipos de Emergencia</ion-button>
  <ion-button [routerLink]="['/mi-informacion']" expand="full">Mi Información</ion-button>
</ion-content>
