<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Panel de Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="full" [routerLink]="['/registrar-bombero']">Registrar Bombero</ion-button>
  <ion-button expand="full" [routerLink]="['/ingresar-equipo']">Ingresar Equipo</ion-button>
  <ion-button expand="full" [routerLink]="['/historial']">Historial Emergencias</ion-button>
  <ion-button expand="full" [routerLink]="['/subestacion']">Subestacion</ion-button>
  <ion-button expand="full" [routerLink]="['/tipos-emergencias']">Tipos de Emergencia</ion-button>
  <ion-button expand="full" [routerLink]="['/mi-informacion']">Mi Información</ion-button>
</ion-content>
