<ion-header>
  <ion-toolbar>
    <ion-title>Mi Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre" name="nombre" type="text" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="usuario.correo" name="correo" type="email" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-input [(ngModel)]="usuario.telefono" name="telefono" type="tel" disabled></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="editarInformacion()">Editar Información</ion-button>
</ion-content>
