<ion-content>

  <!-- <ion-header>
    <ion-row align-items-center>
      <ion-toolbar color="primary">
        <ion-title>Login</ion-title>
      </ion-toolbar>
    </ion-row>
  </ion-header> -->

  <div class="form_login">
    <ion-img class="smile_login" src=" ../../assets/login/Escudo.png"></ion-img>

    <!-- CREDENCIALES DEL USUARIO -->

    <form [formGroup]="loginForm">
      <ion-item button>
        <ion-input
          autofocus="true"
          formControlName="nombre"
          placeholder="Usuario..."
          type="text"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          autofocus="true"
          formControlName="password"
          placeholder="Contraseña"
          type="password"
          type="text"
        >
        </ion-input>
      </ion-item>


      <ion-button (click)="iniciarSesion()"> Iniciar Sesión</ion-button>
      <!-- [disabled] = "!loginForm || !loginForm.valid"  -->

      <ion-button (click)="loginGoogle()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
      </ion-button>
      <!-- <ion-item>
      <ion-text (click) = "Registrarse()"> Registrarse  Aqui</ion-text>
    </ion-item> -->
    </form>


    <ion-label>No tienes usuario?</ion-label>
    <ion-buttons class="ion-text-center" color="medium" slot="end">
      <ion-button [routerLink]="['/registrar-u']" color="dark" expand="full">
        <span class="underline-text">Registrarse Aquí</span>
      </ion-button>
    </ion-buttons>


    <!-- <ion-footer>
      <ion-toolbar color = "medium">
        <ion-buttons slot = "end">
          <ion-button [routerLink] = "['/menu']"> prueba </ion-button>
        </ion-buttons>

      </ion-toolbar>

    </ion-footer> -->

    <!--   <ion-button>
         <div class="ion-logo">
           <ion-icon slot="start" name="logo-google"></ion-icon>
           Ingresar con Google
         </div>
       </ion-button> -->


  </div>
  <!-- LOGO DE INGRESO -->
  <!-- <div class="logo_Daps">
    <img src="assets\daps\logoBomberos.jpeg" />
  </div> -->
  <ion-button (click)="mostrarTelefono()" class="contact-button" slot="fixed">Contactar a Bomberos</ion-button>
</ion-content>
