<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresar Equipo</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre del Equipo</ion-label>
      <ion-input [(ngModel)]="equipo.nombre" name="nombre" required type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="equipo.estado" name="estado" required>
        <ion-select-option value="En Funcionamiento">En Funcionamiento</ion-select-option>
        <ion-select-option value="En Mantenimiento">En Mantenimiento</ion-select-option>
        <ion-select-option value="Fuera de Servicio">Fuera de Servicio</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input [(ngModel)]="equipo.cantidad" name="cantidad" required type="number"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="guardarEquipo()" expand="full">Guardar Equipo</ion-button>
</ion-content> -->

<form #fform="ngForm" (ngSubmit)="registrarEquipo()" [formGroup]="formularioEquipo">
  <ion-list>
    <ion-item>
      <ion-input
        formControlName="Nombre"
        placeholder="Nombre del Equipo"
        type="text"
      >
      </ion-input>
    </ion-item>

    <ion-item *ngIf="formErrors.Nombre">
      <ion-label class="ion-text-wrap" color="danger"> {{formErrors.Nombre}} </ion-label>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="Tipo"
        placeholder="Tipo del Equipo"
        type="text"
      >
      </ion-input>
    </ion-item>

    <ion-item *ngIf="formErrors.Tipo">
      <ion-label class="ion-text-wrap" color="danger"> {{formErrors.Tipo}} </ion-label>
    </ion-item>

    <!--  <ion-item>
        <ion-input
          formControlName="Estado"
          placeholder="Estado del Equipo"
          type="text"
        >
        </ion-input>
      </ion-item>

      <ion-item *ngIf="formErrors.Estado">
        <ion-label class="ion-text-wrap" color="danger"> {{formErrors.Estado}} </ion-label>
      </ion-item>-->


  </ion-list>
</form>
