<ion-app>


  <ion-menu contentId="main-content" menuId="main-menu" type="overlay">

    <!--    <ion-header>-->
    <!--      <ion-toolbar color="primary">-->
    <!--        <ion-title>Menu</ion-title>-->
    <!--      </ion-toolbar>-->
    <!--    </ion-header>-->
    <ion-content>
      <div lines="none">
        <ion-menu-toggle auto-hide="false">
          <ion-item>
            <ion-button (click)="closeMenu" [routerLink]="['/historial']">Historial</ion-button>
          </ion-item>

          <ion-item routerDirection="forward">
            <ion-button (click)="closeMenu" [routerLink]="['/notificacion']">Notificaciones</ion-button>
          </ion-item>

          <ion-item routerDirection="forward">
            <ion-button (click)="closeMenu" [routerLink]="['/mis-emergencias']">Mis Emergencias</ion-button>
          </ion-item>

          <ion-item routerDirection="forward">
            <ion-button (click)="closeMenu" [routerLink]="['/registrar-bombero']">Registrar Bombero</ion-button>
          </ion-item>

          <ion-item routerDirection="forward">
            <ion-button (click)="closeMenu" [routerLink]="['/ingresar-equipo']">Ingresar Equipo</ion-button>
          </ion-item>

          <ion-item routerDirection="forward">
            <ion-button (click)="closeMenu" [routerLink]="['/subestacion']">Subestaciones</ion-button>
          </ion-item>

          <ion-item routerDirection="forward">
            <ion-button (click)="closeMenu" [routerLink]="['/tipos-emergencias']">Tipos de Emergencias</ion-button>
          </ion-item>

          <ion-item routerDirection="forward">
            <ion-button (click)="closeMenu" [routerLink]="['/mi-informacion']">Mi Información</ion-button>
          </ion-item>

          <!--   <ion-item routerDirection="forward">
            <ion-button (click)="closeMenu" [routerLink]="['/solicitar-emergencia']">Solicitar Emergencia</ion-button>
          </ion-item> -->

        </ion-menu-toggle>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
