<!-- notifications.page.html -->
<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let notification of notifications">
      <ion-label class="ion-text-wrap">
        <h2>ID Usuario: {{ notification.userId }}</h2>
        <h3>ID Emergencia: {{ notification.emergencyId }}</h3>
        <p>Fecha y Hora: {{ notification.dateTime | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p>Estado: {{ notification.status }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="changeStatus(notification)" color="success">Cambiar Estado</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content> -->

<form #fform="ngForm" (ngSubmit)="registrarUsuario()" [formGroup]="formularioNotificacion">
  <ion-list>
    <ion-item>
      <ion-input
        formControlName="given_name"
        placeholder="Nombre..."
        type="text"
      >
      </ion-input>
    </ion-item>
    <ion-item *ngIf="formErrors.Estado">
      <ion-label class="ion-text-wrap" color="danger"> {{formErrors.Estado}} </ion-label>
    </ion-item>

  </ion-list>

</form>
