ion-toolbar {
  --background: #f8b54d; /* color de fondo de la barra de navegación */
  color: white; /* color del texto en la barra de navegación */
}

/* Estilo personalizado para el botón */
.custom-button {
  background-color: #1976D2; /* color de fondo del botón */
  color: white; /* color del texto en el botón */
  --ion-color-base: #1976D2; /* color base del botón */
}

/* Estilo personalizado para el área de texto */
.custom-textarea {
  border: 1px solid #ccc; /* Agrega un borde al área de texto */
  border-radius: 5px; /* Agrega esquinas redondeadas al área de texto */
}

/* Estilo personalizado para el campo de entrada de texto */
.custom-input {
  border: 1px solid #ccc; /* Agrega un borde al campo de entrada */
  border-radius: 5px; /* Agrega esquinas redondeadas al campo de entrada */
}

.formularioEmergencia {
  margin: auto;
  min-width: 300px;
  max-width: 365px;
  position: relative;
}
