<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Solicitar Emergencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Tipo de Emergencia</ion-label>
      <ion-select >
        <ion-select-option value="incendio">Incendio</ion-select-option>
        <ion-select-option value="accidente">Accidente de Tráfico</ion-select-option>
        <ion-select-option value="rescate">Rescate</ion-select-option>
        <!-- Agrega más opciones de tipos de emergencia aquí -->
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción de la Emergencia</ion-label>
      <ion-input
        autofocus="true"
        type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción de Ubicacion</ion-label>
      <ion-input
        autofocus="true"
        type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cantidad personas Afectadas</ion-label>
      <ion-input
        autofocus="true"
        type="numeric">
      </ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
    </ion-item> -->
  </ion-list>

  <ion-item>
    <ion-label style="color:black" position="stacked">Municipio</ion-label>
    <ion-select [(ngModel)]="emergency.municipio" name="municipio">
      <ion-select-option value="Escuintla">Santa Lucia Cotzumalguapa</ion-select-option>

      <!-- Agrega más departamentos según sea necesario -->
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Departamento</ion-label>
    <ion-select [(ngModel)]="emergency.departamento" name="departamento">
      <ion-select-option value="Escuintla">Escuintla</ion-select-option>
      <ion-select-option value="Guatemala">Guatemala</ion-select-option>
      <ion-select-option value="San Marcos">San Marcos</ion-select-option>
      <!-- Agrega más departamentos según sea necesario -->
    </ion-select>
  </ion-item>
  <ion-button color="medium" expand="full" (click)="tomarFoto()">Tomar Foto</ion-button>

  <ion-button color="medium" expand="full" (click)="enviarSolicitud()">Enviar Solicitud</ion-button>
</ion-content>
